/*
 * Add your Stylesheet contents here
 */
 h5{margin:20px 0px 10px 0px;}
 .bodyclass{font-size:large; color:White}
 .NavigationButtonImage{width: 55px;height: auto;}  
 .NavigationButtonImageCell{width:80px;} 
 .NavigationButtonText{color:White;} 
 .NavigationButton{margin:0px 0px 0px 0px;}
 .FormButtonText{font-size:larger;color:White;}
 .ContentPanelCaptionText {color:White;font-size:large;}
 .FormButton {height:15px;} 
 .table{background-color:Black;height:30px;} 
 .tablebody{font-size:medium;font-weight:bolder;color: #FFFFFF;} 
 .ListView{background-color:Black;} 
 .ListViewCaption{ background-color: Green;}
 .mpname{font-size:large;margin:0px 0px 0px 0px}
 .party{margin:0px 0px 0px 0px; font-style:italic; font-size:medium}
 .constituency{margin:0px 0px 0px 0px; font-size:small}